{{ define "inicio"}}
        {{ template "cabecera"}}
        <div
            class="table-responsive"
        >
        <h3>Lista de Usuarios</h3>
            <table
                class="table"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
            {{range .}}    
                    <tr class="">
                        <td scope="row">{{.Id}}</td>
                        <td>{{.Nombre}}</td>
                        <td>{{.Email}}</td>
                        <td><div class="d-flex flex-row" href="/editar?Id={{.Id_usuario}}" ><button class="btn btn-primary mx-1">Editar {{.Id_usuario}}</button>
                        <button href="/eliminar?Id={{.Id_usuario}}" class="btn  btn-danger mx-1">Eliminar {{.Id_usuario}}</button></div></td>
                    </tr>
            {{end}}  
                </tbody>
            </table>
        </div>

{{ template "pie"}}
{{ end }}